#draganddropitemsid {
	min-width: 600px;
	max-width: 600px;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	text-align: center;
	font-family: monospace;
	margin: 0 auto;
}

li {
	text-align: left;
	list-style-type: square;
}
#results{
	border: 1px solid #ccc;
	margin: 5px auto;
	max-width: 600px;
	min-width: 600px;
}

.success{
	background-color : #58FAAC;
}

.failure{
	background-color : #b92b27;
}
